* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;

}

body {
    background-color: black;
    overflow-x: hidden;
    
}

.curve {
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 50% 50% 0% 00%;
    margin-top: -100px;
    border-top: 7px solid #e74c4c;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    
}
.treand{
    position: relative;
    color: white;
    font-size:200%;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 100px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    
}
.main {
    width: 100%;

    background-color: black;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 810px;
    position: relative;
    background-image: url("mainpic.jpg");
}

.main .box {

    height: 810px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
    
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    position: relative;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    margin-left: 3px;
    background-color: transparent;
    border-radius: 5px;
    
}

nav button {
    position: relative;
    z-index: 10;
    background-color: transparent;
    align-items: center;    
    justify-content: center;
    height: 40px;   
    cursor: pointer;


}

.eng {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;

}

.sig {
    background-color: #FF3D00;
    color: white;
    border: 2px solid #FF3D00;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;

}

button:hover {
    opacity: .8;

}

button img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    filter: invert(1);
    cursor: pointer;

}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
    text-align: center;
    margin-top: -50px;

}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;

}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center; 
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}

.hero-buttons {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;

}

.hero-buttons button {
    background-color: #FF3D00;
    color: white;
    border: 2px solid #FF3D00;
    padding: 4px 7px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    outline: none;
    margin-right: 10px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    cursor: text;

}
.pic1{
    cursor: pointer;
    display: flex;
    
    position: relative;
    width: 100px;
    height: 500px;
    margin-top: 50px;
    gap: 25% ;
    margin-left: 100px;
}
.pic1 img{
    width: auto;
    height: 300px;
    display: flex;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(222, 18, 18, 0.2);    
    transition: all 0.3s ease;

}
.pic1 img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(222, 18, 18, 0.3);
    transition: all 0.3s ease;


}
.info{
    font-size: 200%;
    color: white;
    margin-left: 100px;
    margin-top: -150px;
    font-weight: bold;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}
.gride{
    
    display: flex;
    gap:18px;
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px;
    width: 80vw;
    height: 320px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;   
}
.inf :nth-child(1){
    margin-top: 27px;
    margin-left: 25px;
    font-size: 150%;
    align-items: start;
    text-align: start;
    justify-self: start;
    font-weight: bold;
    gap: 10px;
}
.inf :nth-child(2){
    margin-top: 25px;margin-left: 25px;
    align-items: start;
    text-align: start;
    justify-self: start;
    gap: 10px;
    font-weight: 400;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    
    
}
.inf{
    font-size: 16px;
    border-radius: 25px;
    margin-top: 35px;
    padding: 5px 20px;
    color: white;
     width: 280px;
    height: 280px;
    background: linear-gradient(to bottom, #011539, #301c1c);
    border: 1px solid rgba(246, 238, 238, 0.5);
    box-shadow: 0 4px 8px rgba(222, 18, 18, 0.2);
    
}
.ques{
    font-size: 175%;
    color: white;
    margin-top: 50px;
    margin-left: 100px;
   
}
.q{
    display: flex;
    gap : 800px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 15px 30px 15px 30px;
    height: 80px ;
      width: 80vw;
        
      background-color: rgba(45,45,45,1);
}
.p{
    font-size: 200%;
    color: white;
    cursor: pointer;
   
}
.p:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.a{
    font-size: 100%;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: bold;
}
.f{
    font-size: 100%;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
}
.foot{
    background-color: black;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 80vw;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.last{
    background-color: black;
    position: relative;
    margin-top: 30px;
    margin-left: 100px;
    color: gray;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
#lang{
    margin-bottom: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-left: 50px;
    margin-top: 30px;
    color: gray;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

#lang img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}
#lang select{
    background-color: black;
    color: gray;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    cursor: pointer;
}
#lang select option{
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
#lang select option:hover{
    background-color: gray;
    color: white;
}
@media screen and (max-width: 1300px) {
    * {
        box-sizing: border-box;

    }
    .treand{
        font-size: 150%;
       
    }
    .pic1{
        flex-direction: column;
        height: auto;
        width:auto;
        margin-top: 20px;
        gap: 30px;
        margin-left: auto;
        padding: 20px;
    }
    .pic1 img{
        width: auto;
        align-items: center;
        justify-content: center;
        padding: 25px;
        height: auto;
        display: flex;
        border-radius: 50px;
        margin-right: 0px;
        box-shadow: 0 4px 8px rgba(222, 18, 18, 0.2);    
    }
    .gride{
        flex-direction: column;
        height: auto;
        width: auto;
        gap:10px;
         display: flex;
        flex-direction: column;
        margin-left: auto;
        padding: 20px;
        

    }
    .info{
        font-size: 150%;
        margin-top: 20px;
        text-align: center;
                text-align: center;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        width: auto;
       

    }
    .inf{
        font-size: 12px;
        
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
                height: 250px;

        text-align: center;
        margin-left: 0px;
    }
    .q{
        flex-direction: row;
        gap: 20px;
        height: auto;
        width: auto
    }
    .ques{
        font-size: 150%;
        margin-left: 10px;
        margin-top: 30px;
    }
    .a{
        font-size: 80%;
        margin-left: 10px;
        margin-top: 30px;
    }
    .f{
        font-size: 80%;
        margin-left:10px;
        margin-top: 30px;
    }
    .foot{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
        width: 90vw;
        font-size: 12px;
    }
    .last{
        margin-left: 10px;
        font-size: 12px;
    }
    #lang{
        margin-left: 20px;
        font-size: 12px;
    }
}
